<h1>Listing test_points</h1>

<table>
  <tr>
    <th>Activity</th>
    <th>Name</th>
    <th>Description</th>
    <th>Result</th>
    <th>Failmsg</th>
    <th>Test case</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_points.each do |test_point| %>
  <tr>
    <td><%= test_point.activity %></td>
    <td><%= test_point.name %></td>
    <td><%= test_point.description %></td>
    <td><%= test_point.result %></td>
    <td><%= test_point.failMsg %></td>
    <td><%= test_point.test_case_id %></td>
    <td><%= link_to 'Show', test_point %></td>
    <td><%= link_to 'Edit', edit_test_point_path(test_point) %></td>
    <td><%= link_to 'Destroy', test_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test point', new_test_point_path %>
